<!DOCTYPE html>

<html>

<%- include('../../layout/head') %>

<body>
  <%- include('../../layout/header')%>
  <%- include('../../layout/nav-bar') %>


  <ul>
    <li>
      <p><img src="<%=bookList.image_url%>"></p>
      <button class="select-button" id="<%- bookList.isbn %>">Update This Book</button>
      <%- include('update') %>
      <button class="delete">Delete This Book</button>

      <p>Title:
        <%- bookList.title %>
      </p>

      <p>Author:
        <%- bookList.author %>
      </p>

      <%- include('details')%>
      </p>
    </li>

  </ul>


  <%- include('../../layout/footer')%>

</body>

</html>