<!DOCTYPE html>

<html>

<%- include('../../layout/head') %>

<body>
  <%- include('../../layout/header')%>
  <%- include('../../layout/nav-bar') %>


  <ul>
    <li>
      <p><img src="<%=bookList.image_url%>"></p>
      <button class="select-button" id="<%- bookList.isbn %>">UPDATE This Book</button>
      <%- include('update',{bookList}) %>
      <form action="/delete/<%- bookList.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="delete">Delete This Book</button>
      </form>


      <p>Title:
        <%- bookList.title %>
      </p>

      <p>Author:
        <%- bookList.author %>
      </p>

      <%- include('details')%>
      </p>
    </li>

  </ul>


  <%- include('../../layout/footer')%>

</body>

</html>