<!DOCTYPE html>

<html>

<%- include('../../layout/head') %>

<body>
  <%- include('../../layout/header')%>

  <!-- Dummy fix for saved books total -->
  <h2>Book Details</h2>

  <ul>
    <li>
      <div class="book-deck">

        <div class="book-image">
          <img class="image-style" src="<%-bookList.image_url%>">
        </div>

        <h3>
          <%- bookList.title %>
        </h3>

        <h4>
          <%- bookList.author %>
        </h4>

        <%- include('details')%>

        <h4>ISBN:
          <%- bookList.isbn %>
        </h4>

        <h4>Shelf:
          <%- bookList.bookshelf %>
        </h4>

        <ul class="two-buttons">
          <li>
            <button class="select-button" id="<%- bookList.isbn %>">UPDATE Book</button>
            <%- include('update',{bookList, bookShelves}) %>
          </li>

          <li>
            <form action="/delete/<%- bookList.id%>" method="post">
              <input type="hidden" name="_method" value="delete">
              <button type="submit" class="delete">DELETE Book</button>
            </form>
          </li>
        </ul>
    </li>

  </ul>

  <%- include('../../layout/footer')%>

</body>

</html>