<form class="hide-me" action="/add" method="POST" id="<%- book.id %>"" required>

  <input type=" text" name="title"
  value="<%- book.title %>" placeholder="Title" required>

  <input type="text" name="author" value="<%- book.author %>" placeholder="Author" required>

  <input type="text" name="isbn" value="<%- book.isbn %>" placeholder="ISBN" required>

  <input type="text" name="image_url" value="<%- book.image_url %>" placeholder="Image URL" required>

  <input type="text" name="description" value="<%- book.description %>" placeholder="Description" required>

  <input type="text" name="bookshelf" value="" placeholder="Bookshelf Name" required>

  <button type="submit">Add To Database</button>

</form>