<!DOCTYPE html>
<html>

<%- include('../../layout/head') %>

<body>
  <%- include('../../layout/header') %>

  <h2>Google API Book Results</h1>

    <div class="container">
      <% books.forEach(book => { %>

      <div class="book-deck">

        <div class="book-image">
          <img class=image-styl;e" src="<%-book.image_url%>">
        </div>

        <h3>
          <%- book.title %>
        </h3>

        <h4>
          <%- book.author %>
        </h4>

        <h4>
          ISBN:
          <%- book.isbn %>
        </h4>

        <p class="detail-description">
          <%- book.description %>
        </p>

        <button class="select-button" id="<%- book.isbn %>">Select This Book</button>

        <%- include('edit',{book}) %>

      </div>

      <% }) %>
    </div>

    <%- include('../../layout/footer') %>
</body>

</html>