<!DOCTYPE html>
<html>

  <%- include('../../layout/head') %>


<body>
  <h1>Google API Book Results</h1>
  <ul>
    <% books.forEach(book => { %>
      <li>
    <p><img src="<%-book.image_url%>"></p>
    <p>Title:
      <%- book.title %>
    </p>
    <p>Author:
      <%- book.author %>
    </p>
    <p>ISBN:
      <%- book.isbn %>
    </p>
    <p>Description:
      <%- book.description %>
    </p>
    <button id="<%- book.isbn %>">Select This Book</button>
    <%- include('edit',{book}) %>
  </li>
    <% }) %>
  </ul>



</body>

</html>