<!DOCTYPE html>
<html>

<%- include('layout/head') %>

<body>

  <%- include('layout/header', {bookList}) %>

  <h2>
    <%- bookList.length %> - Saved Books
  </h2>

  <div class="container">
    <% bookList.forEach(book => { %>

    <div class="book-deck">

      <div class="book-image">
        <img class=image-styl;e" src="<%-book.image_url%>">
      </div>

      <h3>
        <%- book.title %>
      </h3>

      <h4>
        <%- book.author %>
      </h4>

      <a href="/book/<%- book.id%>">
        <button id="<%- book.id %>">View Details</button>
      </a>

    </div>

    <% }) %>
  </div>
  <%- include('layout/footer')%>

</body>

</html>