<!DOCTYPE html>
<html>

<%- include('layout/head') %>

<body>

  <%- include('layout/header') %>
  <div id="content">
    <%- include('layout/nav-bar') %>
    <h2><%- bookList.length %> Saved Books</h2>
  </div>

  <% bookList.forEach(book => { %>
  <div class="books">
    <p><img src="<%-book.image_url%>"></p>

    <p>Title:
      <%- book.title %>
    </p>

    <p>Author:
      <%- book.author %>
    </p>

    <a href="/book/<%- book.id%>">
      <button id="<%- book.id %>">View Details</button>
    </a>

  </div>

  <% }) %>



  <%- include('layout/footer')%>

</body>



</html>